*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color:rgb(253, 251, 251);    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    min-height: 100vh;

}
   
.cabecera{
    
    background-color:rgb(253, 251, 251);
    display: flex;
    width: 100%;
    height: 21vh;
    
}

/* INICIO BANNER */
.banner{
    background-color:rgb(253, 251, 251);
    background-image: url(../imagen/banner-01.jpg);
    background-size: cover; /* ajustar la img en la pantalla */
    border-radius: 10px;
    animation: animate 10s infinite;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:80vh;
    justify-content: center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
}
.banner h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:80vh; 
    font-size: 65px;  
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    color: white;

}
.banner h2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;  
    font-size: 18px;
    font-style: italic;
    color:white;        
    width: 60%;
    height:80vh;    
    color: white;         
}
.button1{
    display: flex;
    position: absolute;
    background-color:#5f2c2b;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 7%;
    width: 16%;
    top:80%;
    right: 55%; 
    font-size: 16px;
    color: white;
    font-family:"-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;;

}

.button2{

    display: flex;
    position: absolute;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 7%;
    width: 16%;
    top:80%;
    left: 55%;
    font-size: 16px;
    color: white;
    font-family:"-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;;

}

/* inicio animacion */
@keyframes animate{
    25%{
    background-image: url(../imagen/banner-04.jpg);
    background-size: cover;
}

    50%{
    background-image: url(../imagen/banner-03.jpg);
    background-size: cover;
}

    75%{
    background-image: url(../imagen/banner-02.jpg);
    background-size: cover;
}

    100%{
    background-image: url(../imagen/banner-01.jpg);
    background-size: cover;
}
}
 /* fin animacion */
/* INICIO 2 BANNER */
.banner2 {
    background-color:rgb(253, 251, 251);
    width: 100%;
    height: 15vh;
}
.banner-2{
    background-color:rgb(253, 251, 251) ;
    width: 100%;
    height: 90vh;
    flex-direction:row;
    justify-content:center;
    justify-content: center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    padding: 1% 0;
}
.tituloa{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 5% 10%;
    color: #aaa;
    
}
.tituloa h3{
    font-size: 12px;
align-items: center;
justify-content: center;

}
.tituloa h2{
        font-size: 45px;
    align-items: center;
    justify-content: center;
    color: #333333;
}
.bloque{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}
.bloque-1{
    
    width: 25%;
    height: 45vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}.bloque-2{
    
    width: 25%;
    height: 45vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloque-3{
    
    width: 25%;
    height: 45vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloque-4{
    
    width: 25%;
    height: 45vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloque-1 img{
        width: 80%;
        display: flex;
        margin: 10% 0;
        transition: 2s;
 }
 .bloque-1 img:hover{
    transform: scale(1.2);
    transition: 2s;
 }

    
.bloque-2 img{
    width: 80%;
    display: flex;
     margin: 5% 0;
     transition: 2s;
 }
 .bloque-2 img:hover{
    transform: scale(1.2);
    transition: 2s;
 }
  .bloque-3 img{
    width: 80%; 
    transition: 2s;   
 }

 .bloque-3 img:hover{
    transform: scale(1.2);
    transition: 2s;
 }

.bloque-4 img{
   width: 80%;
   transition: 2s;    
}

.bloque-4 img:hover{
    transform: scale(1.2);
    transition: 2s;
}
.b1-titulo {
 color: #333333;   
}
.b2-titulo {
    color: #333333;   
   }
.b3-titulo {
 color: #333333;   
}   
.b4-titulo {
    color: #333333;   
   }
.b1-parrafo{
    display: flex; 
    margin: 2% 0;  
    color: #aaa; 
}

.b2-parrafo{
display: flex; 
margin: 2% 0;   
color: #aaa
}
.b3-parrafo{       
 color: #aaa
    }
.b4-parrafo{      
color: #aaa
        }

/* FIN 2 BANNER */

/* INICIO 3 BANNER */
.banner3 {
    background-color:rgb(253, 251, 251);
    width: 100%;
    height: 17vh;
}
.banner-3{
    background-color:rgb(253, 251, 251); 
    width: 100%;
    height: 125vh;
    flex-direction:row;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
      
    
}
.titulo-b3{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 10% 10% 10% 10%;
    color: #aaa;
    
}
.titulo-b3 h3{
    font-size: 12px;
align-items: center;
justify-content: center;

}
.titulo-b3 h2{
        font-size: 45px;
    align-items: center;
    justify-content: center;
    color: #333333;
}
.titulo-b3 p{
        color: #aaa;
        font-size: 20px;
    width: 100%;
        
}

.bloqueb3{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.bloque-1b3{
    /* background-color: blue; */
    width: 50%;
    height: 69vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .b1b3-img img{
    width: 100%;
    height: 59vh;
 }
.bloque-b2b3-img{
    width: 100%;
    display: flex;
     margin: 5% 0;
}
.b1b3-titulo{
    /* background-color: gray; */
    width: 90%;
    font-size: px;
    display: flex;
    text-align: left;
}
.b1b3-parrafo{
    /* background-color: rgb(185, 12, 12); */
    width:90%;
    font-size: 15px;
    display: flex;
    text-align:left;
}
.bloque-2b3{
    
    width: 50%;
    height: 69vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.b2b3-img img{
    width: 100%;
    height: 59vh;
 }
.bloque-b2b3-img{
    width: 100%;
    display: flex;
     
}
.b2b3-titulo{
    /* background-color: gray; */
    width: 80%;
    font-size: px;
    display: flex;
    text-align: left;
   
}
.b2b3-parrafo{
    /* background-color: rgb(185, 12, 12); */
    width: 80%;
    font-size: 15px;
    display: flex;
    text-align:left;
}

/* FIN 3 BANNER */

 /* INICIO 4 BANNER */
 .banner4 {
     background-color: rgb(253, 251, 251);
     width: 100%;
     height: 17vh;
 }

 .banner-4{   
    background-color:rgb(253, 251, 251); 
    width: 100%;
    height: 100vh;
    flex-direction:row;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    
}
.titulo-b4{   
    background-color:rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;    
    color: #aaa;
    
        
}
.titulo-b4 h3{
    align-items: center;
    justify-content: center;      
    font-size: 15px;
    color: #aaa;
 }
.titulo-b4 h2{
          font-size: 45px;
          color: #333
  
 }

 .bannerbloque-4{
    background-color: rgb(253, 251, 251);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    padding: 0 30px;    
}
 .bloque-izq{
    
    width:100%;
    height:60vh;
    margin top|: 0 10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10% 15%;   
    
 }
 .eventosout1{
    background-color:white;
    width: 85%;  
    height: 30vh;      
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    padding:0 10%;  
    margin: 5% 0;
 } 
    
 .eventosout1 img{
    width: 12%;    
 } 

 .eventosout1-texto{
    font-size: 12px;
    width: 100%;
    text-align:left;
    margin: 30px;
    color: #333;
 }

 .eventosout2{
    background-color:white;
    width: 85%;  
    height: 30vh;      
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding:0 10%;    
 }     
 .eventosout2 img{
    width:12%;    
 } 

 .eventosout2-texto{
    font-size: 12px;
    width: 100%;
    text-align:left;
    margin: 30px;
    color: #333;
 }

 /* ...... */

 .bloque-der{
    
    width:100%;
    height:60vh;
    margin top|: 0 10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10% 15%;   
    
 }
 .eventosout3{
    background-color: white;
    width: 85%;  
    height: 30vh;      
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    padding:0 10%;  
    margin: 5% 0;
 } 
    
 .eventosout3 img{
    width: 12%;    
 } 

 .eventosout3-texto{
    font-size: 12px;
    width: 100%;
    text-align:left;
    margin: 30px;
    color: #333;
 }

 .eventosout4{
    background-color: white;
    width: 85%;  
    height: 30vh;      
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding:0 10%;    
 }     
 .eventosout4 img{
    width:12%;    
 } 

 .eventosout4-texto{
    font-size: 12px;
    width: 100%;
    text-align:left;
    margin: 30px;
    color: #333;
 }


 /* FIN 4 BANNER */
/* INICIO 5 BANNER */
.banner5a {
    background-color: rgb(253, 251, 251);
    width: 100%;
    height: 17vh;
}
 
.banner5{
    
    background-image: url(../imagen/banner-5.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
               
}

.banner5 img{
    
    width: 75%;
}

.banner5 h3{
    
    color: #e9e5e5;
    font-size: 35px;
}

/* FIN 5 BANNER */
/* INCIO BANNER6 */
.banner6a {
    background-color: rgb(253, 251, 251);
    width: 100%;
    height: 17vh;
}

.banner6{   
    background-color:rgb(253, 251, 251); 
    width: 100%;
    height: 100vh;
    flex-direction:row;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    
}
.titulo-b6{   
    background-color:rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 10% 10% 10% 10%;
    color: #aaa;    
}
.titulo-b6 h3{
    align-items: center;
    justify-content: center;      
    font-size: 15px;
    color: #aaa;
 }
.titulo-b6 h2{
          font-size: 35px;
          color: #333
  
 }
 .titulo-b6 p{
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #333
    
        

 }

 .bannerbloque-6{
    background-color:rgb(253, 251, 251);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction:row;
    background-size: cover;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    padding: 10px 10px 10px 100px ; 
       
}    
.img1{
    width: 23%;
    cursor: pointer;
    transition: 2s;
}
.img1:hover{
    transform: scale(1.8);
    transition: 2s;
}
.img2{
    width: 23%;
    cursor: pointer;
    transition: 2s;
}
.img2:hover{
    transform: scale(1.8);
    transition: 2s;
}
.img3{
    width: 23%;
    cursor: pointer;
    transition: 2s;
}
.img3:hover{
    transform: scale(1.8);
    transition: 2s;
}
.img4{
    width: 23%;
    cursor: pointer;
    transition: 2s;
}
.img4:hover{
    transform: scale(1.8);
    transition: 2s;
}

/* FIN 6 BANNER */
/* INICIO 7 BANNER */

.banner7{   
    background-color:rgb(253, 251, 251); 
    width: 100%;
    height: 80vh;
    flex-direction:column;
    justify-content:center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    align-items: center;
    
}
.titulo-b7{   
    background-color:rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 5% 10%;
    color: #aaa;    
}
.titulo-b7 h3{
    align-items: center;
    justify-content: center;      
    font-size: 10px;
    color: #aaa;
 }
.titulo-b7 h2{
          font-size: 35px;
          color: #333
 }
 .titulob72{
    background-color:rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;        
    color: #aaa;   
 }
 .titulob72 h4{
    background-color: rgb(253, 251, 251);
    display: flex;   
    justify-content:right;          
    font-size: 20px;
    padding:5% 15%;   
    color: #aaa;    

 }
 .contactolist{
    background-color:rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content:left; 
    width: 50%;
    height: 25vh;
    margin: 0 50%;           
     }
     .contactolist li{
        margin: 2%;
     }

     .form-login1{
        background-color:rgb(253, 251, 251);
        width: 100%;
            height: 50vh;
            
     }
.form-login {
    width: 400px;
    height: 280px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 18px;
    box-shadow: 7px 13px 37px #000;
    padding: 0px 10px;
    border-top: 4px solid rgb(253, 251, 251);
    color: white;

}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #017bad;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #f3eeee;
    font-size: 14px;
    font-weight: bold;
    font-size: white;

}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bad;
    border: none;
    color: white;

}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;

}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

.form-login a:hover {
    text-decoration: underline;
}

/* FIN 7 BANNER */

/* tabla  incio BANNER */


.tablas{

    width: 90%
}
/* tabla fin BANNER */

/* INICIO PIE DE PAGINA*/



.footer{
    background-color: #111111;
    display: flex;
    margin-top: auto;
    text-align: center;
    height: 10vh;
    bottom: 0;
    width: 100%;
    font-family: "Open Sans",Helvetica, Arial, sans-serif;
}
.footer h2{
    width: 100%;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    color: white;
}
/* INICIO PIE DE PAGINA*/
